<blockquote class="post-copyright">
    <div class="content">
        <%- partial('updated') %>
        <% if(theme.postMessage) {%>
        <%- _.template(theme.postMessage)(locals) %>
        <% } %>
    </div>
    <footer>
        <div onclick="location.href='<%- config.url %>'">
            <img src="<%- url_for(theme.avatar) %>" alt="<%- config.author %>">
            <a><%- config.author %></a>
        </div>
    </footer>
</blockquote>
