<%- partial('_partial/header', {
    title: locals.title || theme.categories_title,
    hdClass: 'categories-header'
}) %>
<div class="container body-wrap fade">
    <% if(is_category()) { %>
        <% category_num = 0 %>
        <%
            site.categories.each(function(category){
                if(category.name == page.category.trim()){
                    category_num = category.length
                }
            }) 
        %>
        <h5 class="tag-tip">
            <i class="icon icon-tag"></i>
            关于
            <span style="color:rgb(100, 100, 100)"><%-page.category.trim() %></span>
            共<%-category_num %>篇文章</h5>
        <div class="waterfall">
            <% page.posts.each(function(post){ %>
                <%- partial('_partial/archive', {post: post, date_format: config.date_format}) %>
            <% }) %>
        </div>
    <% } else { %>
    	<h5 class="tag-tip">
            <i class="icon icon-lg icon-th-list"></i>
            目前共<%-site.categories.length %>大分类 
        </h5>
        <div class="card-pool">
            <% site.categories.each(function(category){
                if(category.length){ %>
                    <%- partial('card', {
                            name: category.name,
                            slug: category.slug,
                            link: url_for(category.path),
                            count: category.length
                        }) %>
                    <% }
                }) %>
        </div>
    <% } %>
<%- partial('_partial/paginator') %>
</div>