<%- partial('_partial/header', {
    title: locals.title || theme.tags_title,
    hdClass: 'tags-header'
}) %>

    <div class="container body-wrap fade">
        <% if(is_tag()) { %>
            <% tag_num = 0 %>
            <%
                site.tags.each(function(tag){
                    if(tag.name == page.tag.trim()){
                        tag_num = tag.length
                    }
                }) 
            %>
            <h5 class="tag-tip">
                <i class="icon icon-tag"></i>
                关于
                <span style="color:rgb(100, 100, 100)"><%-page.tag.trim() %></span>
                共<%-tag_num %>篇文章
            </h5>
            <div class="waterfall">
            <% page.posts.each(function(post){ %>
                <%- partial('_partial/archive', {post: post, date_format: config.date_format}) %>
            <% }) %>
            </div>
        <% } else { %>
            <h5 class="tag-tip"><i class="icon icon-lg icon-tags"></i>
                目前共<%-site.tags.length %>个标签
            </h5>
            <div class="card-pool">
            <% site.tags.each(function(tag){
                if(tag.length){ %>
                    <%- partial('card', {
                        name: tag.name,
                        slug: tag.slug,
                        link: url_for(tag.path),
                        count: tag.length
                    }) %>
                <% }
            }) %>
            
            </div>
        <% } %>
<%- partial('_partial/paginator') %>
</div>