<footer class="footer">
    <div class="footer-content">
        <span class="power">
            <i class="icon icon-lg icon-copyright"></i>
            <%- theme.since_year %>
            <i class="icon icon-lg icon-heart"></i>
            <a href="<%- config.url %>"><%- theme.site %></a>
            <br/>
            Power by
            <a href="https://hexo.io/" target="_blank" rel="external nofollow">Hexo</a>&nbsp;·&nbsp;
            Theme
            <a href="https://github.com/tomotoes/hexo-theme-tomotoes/" target="_blank" rel="external nofollow">tomotoes</a>
        </span>
    
        <br/>

        <span id="RunTime" style="color:#a7a7a2;"></span>
        <br/>
        
        <span>
            <%- partial('plugins/site-visit') %>
        </span>
        <br/>
        
        <span class="license"><%- __('footer.license') %></span>
    </div>      
</footer>