<header class="top-header" id="header">
    <div class="flex-row">
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light on" id="menu-toggle">
          <i class="icon icon-lg icon-navicon"></i>
        </a>
        <div class="flex-col header-title ellipsis"><%=title %></div>
        <% if(theme.search){ %>
        <div class="search-wrap" id="search-wrap">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="back">
                <i class="icon icon-lg icon-chevron-left"></i>
            </a>
            <input type="text" id="key" class="search-input" autocomplete="off" placeholder="<%= __('global.search_input_hint') %>">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="search">
                <i class="icon icon-lg icon-search"></i>
            </a>
        </div>
        <% }%>
        <a href="../../atom.xml" target="_blank" class="header-icon waves-effect waves-circle waves-light" id="Rss">
            <i class="icon icon-lg icon-rss"></i>
        </a>
    </div>
</header>
<header class="content-header <%-hdClass %>">
    
    
    <div class="container fade-scale">
        <div id="myheader">
            <h1 class="title">
                <% if(is_home()){ %> 
                    <%=title %>
                <% } %>
            </h1>
            <h5 class="subtitle">
                <% if(is_post()){ %>
                <% } else if(is_home()){ %>
                    <%= theme.homesubtitle %>
                <% } else if(is_archive()){ %>
                    <h1 class="archivestitle"><%= theme.archivestitle %></h1>
                <% } else if (page.layout === 'page' && page.description) {%>
                    <%- page.description %>
                <% } else { %>
                    <h1 id="pagetitle" class="archivestitle"></h1>
                    <script>
                        if(location.href.indexOf('about')!=-1){
                            pagetitle.textContent = '<%= theme.aboutitle %>';
                        }else if(location.href.indexOf('tags')!=-1||location.href.indexOf('categories')!=-1){
                            var a=location.href.substring(location.href.length-5,location.href.length-1);
                            if(a==='tags'){
                                pagetitle.textContent = '<%= theme.tagstitle %>';
                            }else if(a==='ries'){
                                pagetitle.textContent = '<%= theme.categoriestitle %>';
                            }
                        }
                    </script>
                <% } %>
            </h5>
        </div>
    </div>

</header>
