<aside id="menu" <% if((is_post() || page.layout === 'page') && theme.hideMenu){ %>class="hide"<% } %> >
  <div class="inner flex-row-vertical">
    <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
        <i class="icon icon-lg icon-close"></i>
    </a>
    <div class="brand-wrap" >
      <div class="brand">
        <a href="<%- url_for(theme.avatar_link) %>" class="avatar waves-effect waves-circle waves-light">
          <img src="<%- url_for(theme.avatar) %>" alt="avatar">
        </a>
        <hgroup class="introduce">
          <h5 class="nickname" id="name"><%- config.author %></h5>
          <% if(theme.mymotto) { %>
            <div id="mymotto" class="motto"></div>
          <% } else { %>
            <div id="yiyanmotto" class="motto"></div>
          <% } %>
        </hgroup>
      </div>
    </div>
    <div class="scroll-wrap flex-col">
      <ul class="nav">
      <div id="menuitems">
        <%
          var menuItem, isActive = function(item) {
              var pageUrl = url_for(page.path)
              return item.url === '/' ? pageUrl === url_for(item.url + 'index.html') : _.startsWith(pageUrl, url_for(item.url))
          };
              for (var i in theme.menu) {
                menuItem = theme.menu[i];
              %>
              <li class="waves-block waves-effect<% if(isActive(menuItem)){ %> active<% } %>">
                  <a href="<%- url_for(menuItem.url) %>" <% if(menuItem.target){ %>target="_blank"<% } %> >
                    <i class="icon icon-lg icon-<%= i %>"></i>
                    <span data-hover="<%=(menuItem.text || _.startCase(i)) %>"><%=(menuItem.text || _.startCase(i)) %></span>
                    <% if(menuItem.num) {%>
                      <span id="<%- menuItem.num %>" class="digit"></span>
                    <% } %><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                  </a>

              </li>
            <% } %>
          </div>
          <p></p>
      <ul class="nav2" id="nav2icons">
          <%
            var menuItem, isActive = function(item) {
                var pageUrl = url_for(page.path)
                return item.url === '/' ? pageUrl === url_for(item.url + 'index.html') : _.startsWith(pageUrl, url_for(item.url))
            };
            for (var i in theme.menu2) {
              menuItem = theme.menu2[i];
            %>
              <li class="waves-block waves-effect<% if(isActive(menuItem)){ %> active<% } %>">
                <a href="<%- url_for(menuItem.url) %>" <% if(menuItem.target!=false){ %>target="<%- menuItem.target %>"<% } else { %>id="wechat_icon" <% } if(menuItem.text){ %>title="<%-menuItem.text %>"<% } %> >
                  <i class="icon icon-lg icon-<%= i %> <%= i %>"></i>
                </a>
              </li>
          <% } %>

        </ul>
        
      </ul>
        
    </div>
  </div>
 
</aside>

