<%- partial('post/toc', { post: post}) %>
<article id="<%= post.layout %>-<%= post.slug %>"
  class="post-article article-type-<%= post.layout %> fade" itemprop="blogPost">

    <div class="post-card">
        <h1 class="post-card-title"><%- post.title %></h1>
        <div class="post-meta">
            <i class="icon icon-lg icon-calendar-o"></i>
            发表于
            <%- partial('post/date', {date_format: config.date_format}) %>
            <br id="mybreak"/>
            <%- partial('post/category') %>
            <i>·</i>
            <%- partial('plugins/page-visit') %>
        </div>
        <div class="post-count-custom">
            <i class="icon icon-lg icon-comment-o"></i>
            阅读本文可能花费您&nbsp;<span class="post-count"><%= min2read(post.content) %></span>&nbsp;分钟
        </div>
        <div class="post-content" id="post-content" itemprop="postContent">
            <%- post.content %>
        </div>

        <%- partial('post/copyright') %>
        <%- partial('post/reward-btn') %>

        <div class="post-footer">
            <%- partial('post/tag') %>

            <%- partial('post/share-fab') %>

        </div>
    </div>

    <%- partial('post/nav') %>

    <%- partial('post/comment') %>
</article>
